<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ExtractVariables async="false" continueOnError="false" enabled="true" name="${mojo.extractPolicyName}">
    <DisplayName>${mojo.extractPolicyName}</DisplayName>
    <URIPath>
        #foreach($flow in $flows)
            #if ($flow.path.matches(".*?\{.*?\}.*"))
                <Pattern ignareCase="true">${flow.path}</Pattern>
            #end
        #end
    </URIPath>
    <IgnoreUnresolvedVariables>true</IgnoreUnresolvedVariables>
    <Source clearPayload="false">request</Source>
</ExtractVariables>