{
    "name": "${mojo.proxyName}",
    "repository": "${mojo.proxyName}",
    "version": "1.0.0",
    "devDependencies": {
        "fs-extra": "^7.0.1",
        "apickli": "^2.3.0",
        "cucumber": "^1.0.0",
        "crypto-js": "^3.1.9-1",
        "mocha": "^5.2.0",
        "sinon": "^7.2.3",
        "chai": "^4.2.0",
        "chai-fuzzy": "^1.6.1",
        "apigeelint": "^0.2.6",
        "minimist":"^1.2.0"
    },
    "jshintConfig": {
        "predef": [
            "console",
            "context"
        ],
        "curly": true,
        "eqeqeq": true,
        "forin": true,
        "undef": true,
        "latedef": true,
        "noempty": true,
        "nonew": true,
        "unused": true
    }
}