<?xml version="1.0" encoding="UTF-8"?>
<project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/POM/4.0.0"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

    <modelVersion>4.0.0</modelVersion>
    <groupId>${groupId}</groupId>
    <artifactId>${artifactId}</artifactId>
    <version>1</version>
    <name>${artifactId}${deployment.suffix}</name>
    <packaging>pom</packaging>

    <pluginRepositories>
        <pluginRepository>
            <id>central</id>
            <name>Maven Plugin Repository</name>
            <url>http://repo1.maven.org/maven2</url>
            <layout>default</layout>
            <snapshots>
                <enabled>false</enabled>
            </snapshots>
            <releases>
                <updatePolicy>never</updatePolicy>
            </releases>
        </pluginRepository>
    </pluginRepositories>

    <properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>

        <deployment.suffix>-${user.name}</deployment.suffix>
        <proxy.basename>${artifactId}${deployment.suffix}</proxy.basename>

        <apigee.username>${env.APIGEE_USERNAME}</apigee.username>
        <apigee.password>${env.APIGEE_PASSWORD}</apigee.password>
        <apigee.config.dir>${project.basedir}/target/edge</apigee.config.dir>
    </properties>

    <profiles>
        #foreach($profile in $profiles)
            <profile>
                <id>${profile}</id>
                <properties>
                    <apigee.profile>${profile}</apigee.profile>
                    <apigee.org>${setupMap.get($profile).get("org")}</apigee.org>
                    <apigee.env>${setupMap.get($profile).get("env")}</apigee.env>
                    <api.testtag>@apiproxy,@services,@${setupMap.get($profile).get("env")}</api.testtag>
                </properties>
            </profile>
        #end
        <profile>
            <id>integration-test</id>
            <build>
                <plugins>
                    <plugin>
                        <groupId>com.apigee.edge.config</groupId>
                        <artifactId>apigee-config-maven-plugin</artifactId>
                        <version>${apigee-config-maven-plugin}</version>
                        <executions>
                            <execution>
                                <id>create-config-apiproduct</id>
                                <phase>integration-test</phase>
                                <goals>
                                    <goal>apiproducts</goal>
                                </goals>
                            </execution>
                            <execution>
                                <id>create-config-developer</id>
                                <phase>integration-test</phase>
                                <goals>
                                    <goal>developers</goal>
                                </goals>
                            </execution>
                            <execution>
                                <id>create-config-app</id>
                                <phase>integration-test</phase>
                                <goals>
                                    <goal>apps</goal>
                                </goals>
                            </execution>
                            <execution>
                                <id>get-app-keys</id>
                                <phase>integration-test</phase>
                                <goals>
                                    <goal>exportAppKeys</goal>
                                </goals>
                            </execution>
                        </executions>
                    </plugin>

                    <plugin>
                        <groupId>org.codehaus.mojo</groupId>
                        <artifactId>exec-maven-plugin</artifactId>
                        <version>1.3.2</version>
                        <executions>
                            <!--run integration tests-->
                            <execution>
                                <id>apickli</id>
                                <phase>integration-test</phase>
                                <goals>
                                    <goal>exec</goal>
                                </goals>
                                <configuration>
                                    <executable>node</executable>
                                    <commandlineArgs>
                                        ./node_modules/cucumber/bin/cucumber.js target/test/integration/features --tags ${api.testtag}
                                    </commandlineArgs>
                                </configuration>
                            </execution>
                        </executions>
                    </plugin>
                </plugins>
            </build>
        </profile>
    </profiles>

    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>io.apigee.build-tools.enterprise4g</groupId>
                    <artifactId>apigee-edge-maven-plugin</artifactId>
                    <version>1.0.2</version>
                </plugin>
            </plugins>
        </pluginManagement>

        <plugins>

            <!-- load yaml settings -->
            <plugin>
                <groupId>it.ozimov</groupId>
                <artifactId>yaml-properties-maven-plugin</artifactId>
                <version>1.1.2</version>
                <executions>
                    <execution>
                        <id>read-external-global-properties</id>
                        <phase>validate</phase>
                        <goals>
                            <goal>read-project-properties</goal>
                        </goals>
                        <configuration>
                            <files>
                                <file>${project.basedir}/config/global-config.yaml</file>
                            </files>
                        </configuration>
                    </execution>
                    <execution>
                        <id>read-external-profile-properties</id>
                        <phase>validate</phase>
                        <goals>
                            <goal>read-project-properties</goal>
                        </goals>
                        <configuration>
                            <files>
                                <file>${project.basedir}/config/${apigee.profile}.yaml</file>
                            </files>
                        </configuration>
                    </execution>
                </executions>
            </plugin>

            <!-- copy the full apiproxy folder to target folder -->
            <plugin>
                <artifactId>maven-resources-plugin</artifactId>
                <version>2.6</version>
                <executions>
                    <!-- copy resources to target directory -->
                    <execution>
                        <id>copy-resources</id>
                        <phase>process-resources</phase>
                        <goals>
                            <goal>copy-resources</goal>
                        </goals>
                        <configuration>
                            <nonFilteredFileExtensions>
                                <nonFilteredFileExtension>jar</nonFilteredFileExtension>
                            </nonFilteredFileExtensions>
                            <overwrite>true</overwrite>
                            <resources>
                                <resource>
                                    <directory>${project.basedir}</directory>
                                    <filtering>true</filtering>
                                    <includes>
                                        <include>apiproxy/**</include>
                                        <include>test/integration/**</include>
                                        <include>edge/org/**</include>
                                        <include>edge/api/${artifactId}/**</include>
                                    </includes>
                                </resource>
                            </resources>
                            <outputDirectory>${project.build.directory}</outputDirectory>
                        </configuration>
                    </execution>
                    <!-- copy profiled proxy dependencies -->
                    <execution>
                        <id>copy-profile-resources</id>
                        <phase>process-resources</phase>
                        <goals>
                            <goal>copy-resources</goal>
                        </goals>
                        <configuration>
                            <nonFilteredFileExtensions>
                                <nonFilteredFileExtension>jar</nonFilteredFileExtension>
                            </nonFilteredFileExtensions>
                            <overwrite>true</overwrite>
                            <resources>
                                <resource>
                                    <directory>${project.basedir}/edge/env/${apigee.profile}</directory>
                                    <filtering>true</filtering>
                                    <includes>
                                        <include>**</include>
                                    </includes>
                                </resource>
                            </resources>
                            <outputDirectory>${project.build.directory}/edge/env/${apigee.env}/</outputDirectory>
                        </configuration>
                    </execution>
                </executions>
            </plugin>

            <plugin>
                <groupId>com.github.iarellano</groupId>
                <artifactId>replacer</artifactId>
                <version>1.6.0</version>
                <executions>
                    <execution>
                        <id>replace-xmls</id>
                        <phase>process-resources</phase>
                        <goals>
                            <goal>replace</goal>
                        </goals>
                        <configuration>
                            <basedir>${project.build.directory}</basedir>
                            <includes>
                                <include>apiproxy/policies/*.xml</include>
                                <include>apiproxy/proxies/*.xml</include>
                                <include>apiproxy/targets/*.xml</include>
                                <include>apiproxy/*.xml</include>
                            </includes>
                            <excludes>
                                <!-- Add here those files you do not want to be replaced -->
                            </excludes>
                            <replacements>
                                <replacement>
                                    <xpath>/ProxyEndpoint/HTTPProxyConnection/VirtualHost/text()</xpath>
                                    <token>^(.*)$</token>
                                    <value>${northbound.virtualhost}</value>
                                </replacement>
                                <replacement>
                                    <xpath>/TargetEndpoint/HTTPTargetConnection/VirtualHost/text()</xpath>
                                    <token>^(.*)$</token>
                                    <value>${targetEndpoint.url}</value>
                                </replacement>
                            </replacements>
                        </configuration>
                    </execution>
                </executions>
            </plugin>


            <plugin>
                <groupId>io.apigee.build-tools.enterprise4g</groupId>
                <artifactId>apigee-edge-maven-plugin</artifactId>
                <version>${apigee-deploy-plugin-version}</version>
                <executions>
                    <execution>
                        <id>configure-bundle-step</id>
                        <phase>package</phase>
                        <goals>
                            <goal>configure</goal>
                        </goals>
                    </execution>
                    <!--deploy bundle -->
                    <execution>
                        <id>deploy-bundle-step</id>
                        <phase>install</phase>
                        <goals>
                            <goal>deploy</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>

            <!-- Configuration -->
            <plugin>
                <groupId>com.apigee.edge.config</groupId>
                <artifactId>apigee-config-maven-plugin</artifactId>
                <version>${apigee-config-maven-plugin}</version>
                <executions>
                    <execution>
                        <id>create-config-cache</id>
                        <phase>verify</phase>
                        <goals>
                            <goal>caches</goal>
                        </goals>
                    </execution>
                    <execution>
                        <id>create-config-targetserver</id>
                        <phase>verify</phase>
                        <goals>
                            <goal>targetservers</goal>
                        </goals>
                    </execution>
                    <execution>
                        <id>create-config-kvm</id>
                        <phase>verify</phase>
                        <goals>
                            <goal>keyvaluemaps</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>

            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>exec-maven-plugin</artifactId>
                <version>1.3.2</version>
                <executions>
                    <!-- npm install -->
                    <execution>
                        <id>npm-install</id>
                        <phase>validate</phase>
                        <goals>
                            <goal>exec</goal>
                        </goals>
                        <configuration>
                            <executable>npm</executable>
                            <commandlineArgs>install</commandlineArgs>
                        </configuration>
                    </execution>
                </executions>
            </plugin>

        </plugins>
    </build>
</project>
