{
  "${artifactId}-cicd${deployment.suffix}@integration.testing.com": [
    {
      "apiProducts": [
        "${artifactId}-product-cicd${deployment.suffix}"
      ],
      "callbackUrl": "",
      "name": "${artifactId}-app-cicd${deployment.suffix}",
      "scopes": [
      ],
      "attributes": [
      ]
    }
  ]
}