# Global profile["${profile}"] configurations
---
apigee:
  env: ${setupMap.get($profile).get('env')}
  org: ${setupMap.get($profile).get('org')}
  authtype: ${setupMap.get($profile).get('authtype')}
  options: ${setupMap.get($profile).get('options')}
  delay: ${setupMap.get($profile).get('delay')}
  tokenurl: ${setupMap.get($profile).get('tokenurl')}
  clientid: ${setupMap.get($profile).get('clientid')}
  clientsecret: ${setupMap.get($profile).get('clientsecret')}
  hosturl: ${setupMap.get($profile).get('hosturl')}
  apiversion: ${setupMap.get($profile).get('apiversion')}
  config:
    options: ${setupMap.get($profile).get('config-options')}
    exportDir: ${setupMap.get($profile).get('config-exportdir')}
    dir: ${setupMap.get($profile).get('config-dir')}

northbound:
  domain: ${setupMap.get($profile).get('proxydomain')}
  protocol: ${setupMap.get($profile).get('proxyscheme')}
  scheme: ${setupMap.get($profile).get('proxyscheme')}
  port: ${setupMap.get($profile).get('proxyport')}
  basePath: ${basepath}
  virtualhost: ${setupMap.get($profile).get('virtualhost')}

targetEndpoint:
  url: ${setupMap.get($profile).get('targeturl')}
  successCodes: 200

integration:
  format: --format json:${project.build.directory}/integration-test-result.json
  outputDir: ${project.build.directory}
  outputFile:

performance:
  testData: testdata.csv
  threads: 1
  loopCount: 4
  rampUpPeriodSecs: 1
