# Global profile["${env}"] configurations
---
apigee:
  env: ${setupMap.get($env).get('env')}
  org: ${setupMap.get($env).get('org')}
  authtype: ${setupMap.get($env).get('authtype')}
  options: ${setupMap.get($env).get('options')}
  delay: ${setupMap.get($env).get('delay')}
  tokenurl: ${setupMap.get($env).get('tokenurl')}
  clientid: ${setupMap.get($env).get('clientid')}
  clientsecret: ${setupMap.get($env).get('clientsecret')}
  hosturl: ${setupMap.get($env).get('hosturl')}
  apiversion: ${setupMap.get($env).get('apiversion')}
  config:
    options: ${setupMap.get($env).get('config-options')}
    exportDir: ${setupMap.get($env).get('config-exportdir')}
    dir: ${setupMap.get($env).get('config-dir')}

northbound:
  domain: ${setupMap.get($env).get('proxydomain')}
  protocol: ${setupMap.get($env).get('proxyprotocol')}
  port: ${setupMap.get($env).get('proxyport')}
  basePath: ${basepath}
  virtualhost: ${setupMap.get($env).get('virtualhost')}

targetEndpoint:
  url: ${setupMap.get($env).get('targeturl')}
  successCodes: 200
