@apiproxy
Feature: API proxy endpoints

#foreach($flow in $flows)
  @services @${flow.name}
  Scenario: Test ${flow.path.replaceAll("\{.*?\}", "*")} endpoint with custom header
    Given I use variables from app ${artifactId}-app-cicd${deployment.suffix}
    And I set `appHeaderName` header to `appHeaderValue`
    And I have basic authentication credentials `clientId` and `clientSecret`
#if($flow.verb.equals("POST") || $flow.verb.equals("PUT") || $flow.verb.equals("PATCH"))
    And I pipe contents of file test/integration/sample-payloads/sample-payload.json to body
    And I set request body path $.transactionId to x-019876543212
    And I set HMAC headers for application ${artifactId}-app-cicd${deployment.suffix}
#end
#if($flow.verb.equals("POST"))
    When I POST to ${flow.path.replaceAll("\{.*?\}", "1")}
#elseif($flow.verb.equals("OPTIONS"))
    When I request OPTIONS for ${flow.path.replaceAll("\{.*?\}", "1")}
#else
    When I ${flow.verb} ${flow.path.replaceAll("\{.*?\}", "1")}
#end
    Then response code should be 200

#end

 