<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<APIProxy revision="1" name="ht">
    <BasePaths>/mock${basepath}</BasePaths>
    <ConfigurationVersion majorVersion="4" minorVersion="0"/>
    <DisplayName>${artifactId}-mock</DisplayName>
    <Description>Mock backend for ${artifactId}</Description>
    <Policies>
        <Policy>add-cors</Policy>
    </Policies>
    <ProxyEndpoints>
        <ProxyEndpoint>default</ProxyEndpoint>
    </ProxyEndpoints>
    <Resources/>
    <TargetServers/>
    <TargetEndpoints>
        <TargetEndpoint>default</TargetEndpoint>
    </TargetEndpoints>
</APIProxy>
