@apiproxy
Feature: API proxy endpoints

#foreach($flow in $flows)
  @services @${flow.name}
  Scenario: Test ${flow.path.replaceAll("\{.*?\}", "*")} endpoint for client_credentials flow
    When I ${flow.verb} #if($flow.verb.equals("POST"))to #end${flow.path.replaceAll("\{.*?\}", "1")}
    Then response code should be 200

#end

 